<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">SnowBlog</a>
        <div class="button-group ">
            <a href="{{ url_for('login') }}" class="btn btn-dark">Sign In</a>
            <a href="{{ url_for('register') }}" class="btn btn-dark">Register</a>
        </div>
    </nav>
    {% block home_image %}{% endblock %}
    {% block login_content %}{% endblock %}
</body>
</html>